* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  rgb(238, 238, 238);
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 2px 2px black;
    color: white;

    background-color: tomato;

    padding: 10px;
}

.list-container {
    padding: 20px;

    border: 1px solid white;
}

#nova-tarefa {
    display: block;

    font-size: 1.4rem;

    width: 70vw;
    height: 25px;
    margin: 20px auto;

    border: 1px solid black;

    box-shadow: 2px 2px 4px black;
}

#adicionar {
    display: block;

    font-size: 1.4rem;
    font-weight: bold;

    margin: 0 auto;

    padding: 10px 20px;

    background-color: transparent;

    color: tomato;

    border: 1px solid tomato;
    border-radius: 5px;

    transition: 0.4s ease;
}

#adicionar:hover {
    background-color: white;

}

h2 {
    font-size: 1.8rem;
    text-shadow: 0 2px 4px black;
    color: white;

    padding: 5px;

    border: 1px solid white;

    background-color: tomato;
}

#lista-tarefas-itens li {
    display: flex;
    font-size: 1.4rem;
    
    width: 80%;

    margin: 0 auto;
    margin-top: 10px;

    padding: 10px;

    border-bottom: 1px solid tomato;
}

#lista-tarefas-itens li div {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
}

.completo, .retirar {
    width: 35px;
    height: 25px;

    margin: 5px;

    color: green;
    background-color: transparent;

    border: 1px solid green;

    transition: 0.4s ease;
}

.retirar {
    color: red;
    border: 1px solid red;
}

.completo:hover {
    background-color: green;
}

.retirar:hover {
    background-color: red;
}